// sass --watch index.scss ./asset/css/index.css

main {
    // .promo {
    //     width: 100%;
    //     display: block;
    //     font-size: 1.9em;
    //     font-weight: 600;
    //     color: #2c2c2c;
    //     text-align: center;
    //     text-decoration: none;
    //     background-color: #ffa07b;
    //     padding: 10px 0;
    //     margin-top: -20px;
    //     &:hover {
    //         color: var(--bs-link-hover-color);
    //     }
    //     @media(max-width: 585px){
    //         font-size: 1.5em;
    //     }
    // }

    .hero {
        display: flex;
        width: max-content;

        margin: 20px auto;
        overflow: visible;

        &-text {
            font-family: 'Noto-Sans', sans-serif;
            font-weight: 600;
            line-height: 1.4em;
            font-style: normal;
            font-size: 80px;
            color: #0A96DE;
            // max-width: 350px;
            padding: 20px 30px 20px 20px;
            margin: auto 0px auto 0px;
            word-spacing: 100vw;
        }
        // &-img {
        //     width: 850px;
        // }
    }
}

@media (max-width: 1445px) {
    .hero-text {
        display: none;
    }
}
@media (max-width: 1000px) {
    main {
        .hero {
            display: block;
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            
            .hero-text {
                order: 2;
                margin: auto 0;
                font-size: 3em;
                // width: 100%;
                display: none;
            }
            
            &-img {
                display: block;
                order: 1;
                margin: 0 auto 15px;
            }
        }

    }

}
@media (max-width: 800px) {

    main {

        .hero {
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            
            
            
            &-img {
                display: block;
                order: 1;
                margin: 0 auto 15px;
                // max-width: 600px;
            }
        }

        #about {
            .img-mob {
                width: 270px;
            }
        }



    }
}

    @media (max-width: 670px) {
       main {
        .about {

            .flex {
                display: block;
            }
        }
        } 
    
    }
    @media (max-width: 600px) {
        main {
            padding: 0 !important;
            .hero-img {
                margin-top: 8px;
            }
        }
    }