---
import { Picture } from "@astrojs/image/components";
import Frame from "../layouts/frame.astro";
import "@/styles/about.scss";

import battleship from "@/images/about-battleship.jpg";
import hayden from "@/images/meet-hayden.jpg";
import values from "@/images/values.jpg";
---

<Frame
  title="- About"
  description="At Southside Climbing, It's our mission to offer quality climbing sessions and take your skills to the next level. Our instructors are enthusiastic about getting beginners climbing."
>
  <div class="card grid-1" id="story">
    <h1>About Us</h1>
    <Picture
      src={battleship}
      widths={[300, 600, 1200]}
      sizes="(max-width: 768px) 405px, 305px"
      alt="The block of battleship backcliff, 10 meters in height"
      class="img-cover"
    />
    <p>
      Southside Climbing is based in Dorset, which is the home to Swanage and
      the Isle of Portland. Our sessions teach outdoor roped rock climbing to
      complete beginners. We take pride in our courses as they are carefully
      created for an exciting learning experience.
    </p>
  </div>

  <div class="card" id="hayden">
    <div class="grid-1">
      <h2>Meet Hayden</h2>
      <Picture
        src={hayden}
        widths={[300, 600, 1200]}
        sizes="(max-width: 768px) 405px"
        alt="Hayden is in his mid twentys, has tanned olive skin and terrible t-shirt tan lines."
        class="img-cover"
      />
      <p>
        Hayden is our instructor who has been instructing climbing for over the
        last 5 years. He discovered climbing through his local climbing centre
        when he was 15. Since then he has climbed all over the country and has
        gained multiple climbing qualifications.
      </p>
    </div>

    <div class="list">
      <h3>Hayden's Qualifications</h3>
      <ul>
        <li>Rock Climbing Instructor</li>
        <li>Climbing Wall Instructor</li>
        <li>Foundation Coach</li>
        <li>RSD Roped Route-Setter</li>
        <li>Outdoor First Aid</li>
        <li>Safeguarding in Sport</li>
        <li class="li-plus">Climbing Instructor Insurance</li>
      </ul>
    </div>
  </div>

  <div class="card grid-1" id="values">
    <h2>Our Values</h2>
    <Picture
      src={values}
      widths={[300, 600, 1200]}
      sizes="(max-width: 768px) 405px, 300px"
      alt="A helmet on the grass with a bumble on it."
      class="img-cover val-img"
    />
    <p>
      The climbing community is one of the friendliest sporting communities
      you’ll find. We welcome diversity of all kinds and want you to experience
      the joy of climbing with us all.
    </p>
  </div>

  <div class="card" id="eco">
    <h2>Being Sustainable</h2>
    <div class="info">
      <a
        href="https://ecologi.com/southsideclimbing?r=643fbaafdb2126bd06110f9c"
        target="_blank"
        rel="noopener noreferrer"
        title="View our Ecologi profile"
        class="ecologi"
      >
        <img
          alt="We plant trees with Ecologi"
          src="https://api.ecologi.com/badges/trees/643fbaafdb2126bd06110f9c?black=true&treeOnly=true"
        /></a
      >
      <p>
        We want to combat climate change by reducing our carbon footprint and
        preserving the environment. We’ve teamed up with Ecologi to plant trees,
        we donate every time we sell courses through our website.
      </p>
    </div>
    <div class="list">
      <h3>Our green choices:</h3>
      <ul>
        <li>Printing on recycled materials</li>
        <li>Using an online waiver system</li>
        <li>
          Sourcing <a
            href="https://www.bluesign.com/en/blog/news/the-rei-sustainability-standards-and-bluesign"
            >Bluesign</a
          > climbing ropes
        </li>

        <li>Supporting local independant businesses</li>
      </ul>
    </div>
  </div>
</Frame>
