---
import { Picture } from "@astrojs/image/components";
import Frame from "../layouts/frame.astro";
import "../styles/about.scss";

import battleship from "../images/about-battleship.jpg";
import hayden from "../images/meet-hayden.jpg";
---

<Frame
  title="- About"
  description="Southside Climbing is based in Dorset. Our professional instructor, Hayden has been climbing for 10 years. He enjoys bouldering, sport climbing, and trad."
>
  <div class="card grid-1" id="story">
    <h1>About Us</h1>
    <Picture
      src={battleship}
      widths={[300, 600, 1200]}
      sizes="(max-width: 768px) 85%, 300px"
      alt="The block of battleship backcliff, 10 meters in height"
      class="img-cover"
    />
    <p>
      At Southside Climbing we offer sessions full of adventure and expertise.
      We host our climbing activities in Dorset, home of Swanage, Lulworth & the
      Isle of Portland.
    </p>
  </div>

  <div class="card" id="hayden">
    <div class="grid-1">
      <h2>Meet Hayden</h2>
      <Picture
        src={hayden}
        widths={[300, 600, 1200]}
        sizes="(max-width: 768px) 85%, 300px"
        alt="Hayden is in his mid twentys, has tanned olive skin and terrible t-shirt tan lines."
        class="img-cover"
      />
      <p>
        Hayden is our instructor who has been instructing climbing for over the
        last 5 years. He discovered climbing through his local climbing centre
        when he was 15. Since then he has climbed all over the country and has
        gained multiple climbing qualifications.
      </p>
    </div>

    <div class="hayden-quals">
      <h3>Hayden's Qualifications</h3>
      <div class="hayden-quals-list">
        <ul>
          <li>Rock Climbing Instructor</li>
          <li>Climbing Wall Instructor</li>
          <li>Foundation Coach</li>
        </ul>
        <ul>
          <li>RSD Roped Route-Setter</li>
          <li>Outdoor First Aid - 16 Hours</li>
          <li>Safeguarding in Sport</li>
        </ul>
      </div>
      <p>+ Climbing Instructor Insurance</p>
    </div>
  </div>
</Frame>
