---
import Frame from "../layouts/frame.astro";
---

<Frame
    title="- Blog"
    description="Here is a place where I share my thoughts, knowledge and experiences in the world of climbing."
>
    <div class="card">
        <h1>Welcome to my Blog!</h1>
        <p>This blog is the home to my authenic posts.</p>
    </div>

    <div class="blog-card">
        <a href="/blog/climbing_at_portland">Climbing at Portland</a>
    </div>
</Frame>
