// sass --watch contact.scss ./asset/css/contact.css

.details {
    font-family: 'Poppins', sans-serif;
    
    display: block;

    .options {
        margin-left: 20px;
    }
    &-a {
        display: block;
        margin: auto 0;
        font-size: 1.8em;
        line-height: 1.8em;

    }

    .tel, .email {
        display: flex;
        // height: 50px;
        margin-bottom: 20px;
        &-img {
            width: 50px;
            margin: 0 20px 0 0;
        }
        &-text {
            display: block;
            margin: auto 0 !important;
        }
    }
}

@media (max-width: 700px) {
    
    .details {
        &-a {
            font-size: 1.4em;
            line-height: 1.4em;
        }
    
        .tel, .email {
            &-img {
                margin: 0 20px 0 0;
            }
        }
    }
}

@media (max-width: 550px) {
    .details {
        .options {
            margin-left: 0px;
        }
        &-a {
            font-size: 1em;
        }
        .tel, .email {
            &-img {
                width: 35px;
                margin: 0 10px 0 0;
            }
        }
    }
}
