---
import { Picture } from "@astrojs/image/components";

import Frame from "../layouts/frame.astro";
import ContactForm from "../components/ContactForm.astro";
import Insta from "../components/Insta.astro";
import "../styles/index.scss";

import courses from "../images/gearing-up.jpg";
import about from "../images/about.jpg";
import hero from "../images/hero.jpg";
---

<Frame
  title=""
  description="Experience climbing with Southside Climbing. We our based in Dorset, and run climbing courses for beginners at Portland. You can learn to climb and belay your friends and family!"
>
  <div class="hero">
    <div class="hero-text">Experience Climbing Dorset</div>
    <Picture
      src={hero}
      widths={[324, 500, 1200]}
      sizes="(max-width: 768px) 90vw, 53vw"
      alt="A young man climbing in the sunset with the sea behind him"
      class="hero-img"
      loading="eager"
    />
    <!-- <picture>
      <source
        media="(max-width: 769px)"
        srcset="/media/battleship-hero-324.jpg 360w, /media/battleship-hero-500.jpg 538w, /media/battleship-hero-690.jpg 750w"
        sizes="90vw"
      />
      <source
        media="(min-width: 769px)"
        srcset="/media/battleship-hero-690.jpg 1284w, /media/battleship-hero-850.jpg 2000w"
        sizes="53vw"
      />
      <img
        src="/media/battleship-hero-850.jpg"
        alt="A young man climbing in the sunset with the sea behind him"
        class="hero-img"
      />
    </picture> -->
  </div>

  <div class="card grid-1" id="courses">
    <h2>Our courses</h2>
    <Picture
      src={courses}
      widths={[260, 520, 1040]}
      sizes="(max-width: 768px) 85%, 480px"
      alt="Hayden is belaying and watching the climber."
      class="img-cover"
    />
    <p>
      We host a range of courses at Swanage and Portland. The sessions are ideal
      for beginners that want to learn roped climbing, but also for the
      adventure seekers.
    </p>
    <a class="btn section-btn" href="./courses">See Courses</a>
  </div>

  <div class="card grid-1" id="about">
    <h2>About Us</h2>
    <Picture
      src={about}
      widths={[300, 600, 1200]}
      sizes="(max-width: 768px) 85%, 300px"
      alt="The block of battleship backcliff, 10 meters in height"
      class="img-cover"
    />
    <p>
      Hayden started Southside Climbing as he wanted to share his passion with
      new climbers. We aim to deliver fun and exciting sessions as you start
      your climbing journey.
    </p>
    <a class="btn" href="./about">More About Us</a>
  </div>

  <Insta />

  <ContactForm />
</Frame>
