---
import { Image, Picture } from "@astrojs/image/components";

import Frame from "../layouts/frame.astro";
import ContactForm from "../components/ContactForm.astro";
import InstaWidget from "../components/InstaWidget.astro";
// import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
// import CookiePopUp from '../components/CookiePopUp.astro';
import "../styles/index.scss";
---

<Frame
  title=""
  desc="Experience climbing with Southside Climbing. We our based in Dorset, and run climbing courses for beginners at Portland. You can learn to climb and belay your friends and family!"
>
  <a class="promo" href="/courses/learn-to-belay/"
    >Book on for Feburary half-term!</a
  >

  <div class="hero">
    <div class="bs hero-text">Experience<br />Climbing<br />Dorset</div>
    <img
      src="/media/warm-love.jpg"
      alt="A young man climbing in the sunset with the sea behind him"
      class="hero-img"
    />
  </div>

  <p class="intro bs">
    At Southside Climbing we want to share the joy and adventure of climbing in
    the south coast. Our courses are designed for a range of abilities, from
    absolute beginners to more experienced climbers. <span class="intro-desk"
      >You'll experience Dorset’s scenic views and spot some wildlife too!</span
    >
  </p>

  <div class="courses bs section">
    <div class="courses-text">
      <h1 class="section-title">Our courses</h1>
      <p class="bs-text">
        We run a variety of different courses in Dorset. Whether you are looking
        to try something new or you want an action packed holiday, there's
        something for you.
      </p>
      <a class="btn section-btn-desk" href="./courses">See Courses</a>
    </div>
    <div class="section-img">
      <img
        src="/media/belay.jpg"
        alt="Myself belaying from my harness, gripping the climbing rope"
        class="courses-img-desk"
      />
      <img
        src="/media/gearing-up.jpg"
        alt="Myself gearing up, and passing karabiners to sam"
        class="courses-img-mob"
      />
    </div>
    <a class="btn section-btn-mob" href="./courses">See Courses</a>
  </div>

  <div class="about bs section">
    <div class="section-img">
      <img
        srcset="/media/about.jpg"
        alt="Hayden sat in his harness, suspended next to the rock"
        class="about-img"
      />
    </div>
    <div class="about-textbox">
      <h1 class="about-title">About Us</h1>
      <img
        srcset="/media/about-mob.jpg"
        alt="Hayden sat in his harness, suspended next to the rock"
        class="about-img-mob"
      />
      <p class="bs-text">
        Meet Hayden, the instructor of Southside Climbing. He has been climbing
        since 2014, since then he's been developing himself in the world of
        climbing.
      </p>

      <a class="btn bs-btn section-btn" href="./about">See More</a>
    </div>
  </div>

  <InstaWidget/>

  <ContactForm />
</Frame>
