---
import { Picture } from "@astrojs/image/components";

import Frame from "../layouts/frame.astro";
import ContactForm from "../components/ContactForm.astro";
import Insta from "../components/Insta.astro";
import "../styles/index.scss";

import courses from "../images/gearing-up.jpg";
import about from "../images/about.jpg";
import hero from "../images/hero.jpg";
---

<Frame
  title=""
  description="We run our rock climbing courses in Dorset. Beginners can experience how to climb and belay in our activity sessions. Portland is great for adventure holidays."
>
  <div class="hero">
    <h1 class="hero-text">Experience Climbing Dorset</h1>
    <Picture
      src={hero}
      widths={[324, 500, 1200]}
      sizes="(max-width: 768px) 90vw, 53vw"
      alt="A young man climbing in the sunset with the sea behind him"
      class="hero-img"
      loading="eager"
    />
  </div>

  <div class="card grid-1" id="courses">
    <h2>Our courses</h2>
    <Picture
      src={courses}
      widths={[260, 520, 1040]}
      sizes="(max-width: 768px) 410px, 480px"
      alt="Karabiners are being passed onto seb's harness"
      class="img-cover"
      loading="eager"
      height={270}
      width={405}
    />
    <p>
      We host a range of beginner-friendly rock climbing courses on the Dorset
      coast. Rock climbing is a fun holiday activity, but you’ll also receive a
      great introduction to the sport.
    </p>
    <a class="btn section-btn" href="./courses/">See Courses</a>
  </div>

  <div class="card grid-1" id="about">
    <h2>About Us</h2>
    <Picture
      src={about}
      widths={[300, 600, 1200]}
      sizes="(max-width: 768px) 410px, 480px"
      alt="Hayden is belaying and watching the climber."
      class="img-cover"
      loading="eager"
      height={270}
      width={405}
    />
    <p>
      Hayden started Southside Climbing as he wanted to share his passion with
      new climbers. We aim to deliver fun and exciting sessions as you start
      your climbing journey.
    </p>
    <a class="btn" href="./about/">More About Us</a>
  </div>

  <Insta />

  <ContactForm />
  <!-- Event snippet for Home visit conversion page -->
  <script>
    gtag("event", "conversion", {
      send_to: "AW-10956820444/4Sa3CJrBw84YENyfz-go",
    });
  </script>
</Frame>
