---
import Frame from "../layouts/frame.astro";
import ContactForm from "../components/ContactForm.astro";
import Insta from "../components/Insta.astro";
import "../styles/index.scss";
---

<Frame
  title=""
  description="Experience climbing with Southside Climbing. We our based in Dorset, and run climbing courses for beginners at Portland. You can learn to climb and belay your friends and family!"
>


<div class="hero">
  <div class="hero-text card">Experience<br />Climbing<br />Dorset</div>
  <img
  srcset="/media/dancing-420-wide.jpg 465w, /media/dancing-wide-600.jpg 665w, /media/dancing-wide-850.jpg 1445w, /media/dancing-desk.jpg"
  alt="A young man climbing in the sunset with the sea behind him"
  class="hero-img"
  />
</div>

<div class="card" id="courses">
  <div class="section">
    <div class="info">
      <h2>Our courses</h2>
      <img
      src="/media/gearing-up.jpg"
      alt="Myself gearing up, and passing karabiners to sam"
      class="img-mob"
      />
      <p>
        We host a range of courses at Swanage and Portland. The sessions are ideal for beginners that want to learn rope climbing, but also for the adventure seekers.
        </p>
        <a class="btn section-btn" href="./courses">See Courses</a>
      </div>
      <img src="/media/belay.jpg" alt="someone holding the rope either side of the belay device" class="img-desk">
    </div>
  </div>
  
  <div class="card" id="about">
    <div class="section">
      <img
          src="/media/about.jpg"
          alt="Hayden sat in his harness, suspended next to the rock"
          class="img-desk"/>
          <div class="info">
            <h2>About Us</h2>
            <img
            src="/media/about-mob-l.jpg"
            alt="Hayden sat in his harness, suspended next to the rock"
            class="img-mob"
            />
            <p>
              Hayden started Southside Climbing as he wanted to share his passion with new climbers. We aim to deliver fun and exciting sessions as you start your climbing journey.
            </p>
            <a class="btn" href="./about">More About Us</a>
          </div>
        </div>
      </div>
      
      <Insta />

  <ContactForm />
</Frame>
