---
import Frame from "../layouts/frame.astro";
import Insta from "../components/Insta.astro";
---

<Frame>
  <meta slot="ExtraHead" name="robots" content="noindex" />
  <div class="contact card">
    <h1>Contact Us</h1>

    <form class="sent">
      <img src="/media/icons/tick.svg" alt="green tick" class="tick" />
      <h4 class="sent-text">Message Sent!</h4>
      <p class="sent-text">
        Thank you for your message, we'll reply within the next few days.
      </p>
    </form>
  </div>

  <Insta />
</Frame>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10956820444"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "AW-10956820444");
</script>
<style lang="scss">
  .sent {
    text-align: center;

    .tick {
      width: 25%;
      margin: 0 auto;
    }

    h4 {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.5em;
      color: #08a92b;
    }

    p {
      font-size: 1em;
    }
  }
</style>
