---
import Frame from '../layouts/frame.astro';
import './sessions.scss'


import { Image } from '@astrojs/image/components'
// import groups from "../media/groups.jpg"
// const alt = "Hayden sat in his harness"
---

<Frame title={' - Sessions'} description={'We run a variety of climbing sessions.'}>


        <div class="L2B bs">
            <h3 class="bs-title">Learn to Belay</h3>
            <div class="session-layout">
                    <img src="/media/L2B.jpg" alt="Hayden sat in his harness, suspended next to the rock"
                        class="L2B-img">
                <div class="session-info">
                    <div class="session-sub"><span class="session-sub-li">8 Hours · </span><span
                            class="session-sub-li">2-6 Climbers · </span><span class="session-sub-li">Beginners</span>
                    </div>
                    <p class="session-text bs-text">This sessions is ideal for beginners to roped climbing . You’ll learn how to tie knots, belay and climb.</p>

                    <div class="session-buttons">
                        <script is:inline src="https://assets.ticketinghub.com/checkout.js" data-widget="3d0b09ea-1f3a-4b3c-90de-8f7ce8ea28b1"></script>
                        <a href="/sessions/learn-to-belay/" class="session-see">See More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="peak bs">
            <h3 class="bs-title">Peak District</h3>
                <img src="/media/stanage-popular.jpg" alt="Hayden sat in his harness, suspended next to the rock"
                    class="peak-img">
            <div class="session-layout-block">
                <div class="session-info session-info">
                    <div class="session-sub">
                        <span class="session-sub-li">2 Days · </span>
                        <span class="session-sub-li">2-6 Climbers · </span>
                        <span class="session-sub-li">Beginners</span>
                    </div>
                    <p class="session-text bs-text">The Peak District is the home of gritstone climbing and it’s epic scenery. We’ll climb Stanage Edge and another local crag near Hathersage.</p>

                    <div class="session-buttons">
                        <script is:inline src="https://assets.ticketinghub.com/checkout.js" data-widget="c3a9cc0d-1372-40bf-a960-8318846ee538"></script>
                        <a href="/sessions/peak-district/" class="session-see">See More</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="groups bs">
            <h3 class="bs-title">Group Bookings</h3>
            <div class="session-layout group-layout">
                <div class="session-info group-info">
                    <div class="session-sub"><span
                            class="session-sub-li">6+ Climbers · Stag & Hen Parties</span>
                    </div>
                    <p class="session-text bs-text">Whether your looking for a team building day or a memorable experience, we have something instore for you. </p>

                    
                        <div class="session-buttons">
                            <a href="/contact/" class="session-see
                            bs-button-contact">Contact Us</a>
                        </div>
                </div>
                <img src="/media/groups.jpg" alt="Hayden sat in his harness, suspended next to the rock"
                        class="group-img">
            </div>
        </div>


</Frame>