---
import "bootstrap/scss/bootstrap.scss";


// C:\Users\hayde\Documents\websites\southside\southside-astro\node_modules\bootstrap\js\dist\carousel.js

---


<!-- <div id="carouselExampleIndicators" class="carousel slide slideshow-container" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/carousel-1.jpg" class="d-block" alt="dogs">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-2.jpg" class="d-block" alt="cats">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-3.jpg" class="d-block" alt="goats">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->


  <div id="carouselExampleIndicators" class="carousel slide slideshow-container" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/carousel-1.jpg" class="d-block w-100" alt="A Young man reaching for a grip round the corner of the rock. The rest of the isle of portland behind him on a summer's day.">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-2.jpg" class="d-block w-100" alt="A short man looking up as he is belaying from his harness.">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-3.jpg" class="d-block w-100" alt="A woman looking up at the next part of the climb as she reaches the near top">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-4.jpg" class="d-block w-100" alt="A couple having a picnic, enjoying the view of portland">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-5.jpg" class="d-block w-100" alt="Hayden setting up the climbs, fixing the ropes to the rock">
      </div>
      <div class="carousel-item">
        <img src="/media/carousel-6.jpg" class="d-block w-100" alt="A man looking up at the rock, the top is in the sunshine">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  


