---
import Spec from "./parts/Spec.astro";
---

<div class="card" id="courses">
  <h2>Our courses</h2>

  <picture>
    <img
      srcset="/media/gearing-up.jpg 800w, /media/belay.jpg 2000w"
      alt="Myself gearing up, and passing karabiners to sam"
    />
  </picture>
  <Spec
    class="spec-grid"
    loc="Swanage & Portland"
    duration="8 Hours"
    group="Upto 6 climbers"
  />
  <p>
    We host a range of courses at Swanage and Portland. The sessions are ideal
    for beginners that want to learn rope climbing, but also for the adventure
    seekers.
  </p>
  <a class="btn" href="./courses">See Courses</a>
</div>

<style lang="scss">
  @media (min-width: 800px) {
    .card {
      box-shadow: 0px 5px 10px rgb(159, 159, 159);
      width: 720px;
      padding: 5px 20px 15px;

      h1,
      h2 {
        margin: 5px 0 0;
        font-size: 45px;
        grid-column: 1 / 2;
        grid-row: auto;
      }

      picture {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
        img {
          max-width: 250px;
          display: block;
          margin: 5% auto;
        }
      }

      .spec-grid {
        grid-column: 1 / 2;
        grid-row: auto;
      }

      p {
        grid-column: 1 / 2;
        grid-row: auto;
      }
      .btn {
        grid-column: 1 / 2;
        grid-row: auto;
      }
    }
  }
</style>
