---
---

<nav>
  <a class="title" href="/">
    <img
      src="/media/logo.svg"
      alt="An ocean wave with a pink sky"
      class="logo"
    />
    <img
      src="/media/logo-text-white.svg"
      alt="Southside Climbing"
      class="logo-title"
    />
  </a>

  <div class="links">
    <a href="/about/" class="links-a">About</a>
    <!-- <a href="/blog/" class="links-a">Blog</a> -->
    <a href="/courses/" class="links-a">Courses</a>
    <a href="/contact/" class="links-a">Contact</a>
  </div>
  <img
    src="/media/icons/burger.svg"
    alt="burger menu"
    class="burger"
    id="burger"
  />
  <div class="mob-menu none">
    <div class="mob-menu-list">
      <img
        src="/media/icons/close.svg"
        alt="cross to close menu"
        class="close"
      />
      <a href="/about/" class="mob-menu-list-item links-a">About</a>
      <a href="/courses/" class="mob-menu-list-item links-a">Courses</a>
      <a href="/contact/" class="mob-menu-list-item links-a">Contact</a>
      <div class="mob-menu-socials socials">
        <a href="https://www.facebook.com/southsideclimbing/" class="socials-fb"
          ><img src="/media/icons/facebook.svg" alt="facebook logo" /></a
        >
        <a
          href="https://www.instagram.com/southsideclimbing/"
          class="socials-insta"
          ><img src="/media/icons/instagram.svg" alt="facebook logo" /></a
        >
      </div>
    </div>
  </div>
</nav>

<script lang="js">
  const mobMenu = document.querySelector(".mob-menu");

  function openMenu() {
    mobMenu.classList.remove("none");
  }

  document.getElementById("burger").addEventListener("click", openMenu);

  mobMenu.addEventListener("click", (e) => {
    let list = e.target.classList;
    if (list.contains("mob-menu") || list.contains("close")) {
      mobMenu?.classList.add("none");
    }
  });
</script>
<style lang="scss">
  nav {
    background-color: #2eada4;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    padding: clamp(8px, 1.5vw, 20px);
    box-sizing: border-box;
  }

  .title {
    display: flex;
    .logo {
      width: clamp(32px, 7vw, 45px);
      aspect-ratio: 1 / 1;
      margin-right: clamp(5px, 1vw, 15px);
      &-title {
        width: clamp(210px, 50vw, 325px);
        aspect-ratio: 325 / 45;
      }
    }
  }

  .links {
    display: none;
    &-a {
      font-family: "Noto Sans", sans-serif;
      font-size: 32px;
      color: #ffffff;
      text-decoration: none;
      margin: 0 0 10px;
    }
  }

  .burger {
    width: clamp(30px, 7vw, 40px);
    aspect-ratio: 30 / 24;
    margin: auto 0;
  }

  .mob-menu {
    background-color: #0728266e;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    &-list {
      background-color: #16867e;
      margin-left: auto;
      box-sizing: border-box;
      padding: 18px;
      display: flex;
      flex-direction: column;
      width: 210px;
      height: 100svh;

      .close {
        cursor: pointer;
        margin-left: auto;
        width: 30px;
        aspect-ratio: 1 / 1;
      }

      &-item {
        font-size: 2.2em;
      }
    }

    &-socials {
      margin-top: auto;
      display: flex;

      a img {
        width: 40px;
        margin: 10px;
      }
    }
  }

  @media (min-width: 930px) {
    .burger {
      display: none;
    }

    .links {
      display: flex;
      &-a {
        font-size: 30px;
        margin: auto 10px auto 20px;
      }
    }
  }
</style>
