---
import { Picture } from "@astrojs/image/components";
import tying from "@/images/tying.jpg";
import insta2 from "@/images/insta-22.jpg";
import insta3 from "@/images/insta-3.jpg";
---

<a href="https://www.instagram.com/southsideclimbing/" class="insta-slides">
  <Picture
    src={tying}
    widths={[300, 600]}
    sizes="min(300px,30vw)"
    aspectRatio="1:1"
    alt="A man rethreading a figure of 8 through his harness"
    class="slide s1"
  />
  <Picture
    src={insta2}
    widths={[300, 600]}
    sizes="min(300px,30vw)"
    aspectRatio="1:1"
    alt="A woman on a the crux of a route with her foot placed at waist height"
    class="slide s2"
  />
  <Picture
    src={insta3}
    widths={[300, 600]}
    aspectRatio="1:1"
    sizes="min(300px,30vw)"
    alt="A man half way up a route in the shade with the sunlight just about his head"
    class="slide s3"
  />
  <img
    src="./media/icons/instagram.svg"
    alt="instagram icon"
    class="insta-logo"
  />
</a>

<style lang="scss">
  .insta-slides {
    position: relative;
    width: fit-content;
    display: flex;
    margin: 0 auto 10px;
    .s3 {
      display: none;
    }

    .slide {
      margin: 0 3px;
      width: clamp(150px, 45vw, 250px);
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }

    .insta-logo {
      width: 25px;
      position: absolute;
      bottom: 15px;
      right: 12px;
    }
    @media (min-width: 555px) {
      margin-bottom: 20px;
      .slide {
        width: clamp(150px, 30vw, 300px);
      }
      .s3 {
        display: block;
      }

      .insta-logo {
        width: 35px;
      }
    }
  }
</style>
