---

---

<div class="insta-slides">
    <div class="slide"><img src='/media/gear-up.jpg' alt="The instructor is exchanging equipment with his client"/></div>
    <div class="slide"><img src='/media/womens.jpg' alt="A young woman in placing her foot in a high up position"/></div>
    <div class="slide"><img src='/media/group.jpg' alt="A group at the bottom of a climbing, being taught how to belay by the instructor."/></div>
    <!-- <div class="slide" id="4">4</div> -->
</div>

<style lang="scss">
    .insta-slides {
        display: flex;
        // width: max-content;
        max-width: 1008px;
        margin: 0 auto 20px;
        padding: 0 25px;
        :nth-child(4){
            display: none;
        }
    }
    .slide {
        max-width: 330px;
        width: 33%;
        aspect-ratio: 1 / 1;
        margin: 0 3px;
    }
    
    @media (max-width: 830px) {
        .insta-slides {
            padding: 0 10px;
        }
    }
</style>