---

---

<a href="https://www.instagram.com/southsideclimbing/" class="insta-slides">
        <img src='/media/gear-up-insta-b.jpg' alt="The instructor is exchanging equipment with his client" class="slide"/>
        <img src='/media/womens.jpg' alt="The instructor is exchanging equipment with his client" class="slide"/>
        <img src='/media/battleship-insta.jpg' alt="The instructor is exchanging equipment with his client" class="slide"/>
</a>

<style lang="scss">
    .insta-slides {
        display: flex;
        align-self: center;
        width: max-content;
        width: 100svw;
        max-width: 1008px;
        justify-content: center;
        margin-bottom: 10px;
        img:nth-child(1){
            display: none;
        }
        .slide {
            max-width: 330px;
            width: 45svw;
            margin: 0 3px;
            @media (min-width: 910px) {
                width: 28svw;
            }
        }
        @media (min-width: 450px) {
        margin: 0 auto 20px;
        .slide {
            width: 30svw;
        }
        img:nth-child(1){
            display: block;
        }
        }
    }
</style>