---
//: remove flex shift on links when changing media queries - is it worth separating desk & mob nav
//: make units relative
//: stick to top
//: appear on scroll up
//: add youtube + tiktok to socials
//: stop scroll when mob menu open
---

<nav class="nav">
  <a href="/" class="logo">
    <img src="/media/logo/logo.png" alt="Wave Logo" class="logo_wave" />
    <img
      src="/media/logo/title-white.svg"
      alt="Southside Climbing"
      class="logo_title"
    />
  </a>
  <ul class="links" id="links">
    <img
      src="/media/icons/close.svg"
      alt="close menu"
      class="close"
      onclick="closeMenu()"
    />
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <div class="dropdown">
      <li class="dropdown-title"><span>Climbing</span></li>
      <ul class="dropdown-list">
        <li>
          <a href="/courses">Outdoor Courses</a>
        </li>
        <li>
          <a href="/coaching">Coaching</a>
        </li>
        <li>
          <a href="/kids-club">Kids Club</a>
        </li>
        <li>
          <a href="/pad-hire">Pad Hire</a>
        </li>
      </ul>
    </div>
    <li><a href="/contact">Contact</a></li>
    <div class="mob-menu-socials socials">
      <a href="https://www.facebook.com/southsideclimbing/" class="socials-fb"
        ><!--?xml version="1.0" encoding="UTF-8"?-->
        <svg
          id="Icons"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 23.62 23.48"
          ><g id="c"
            ><path
              d="M23.62,11.81C23.62,5.29,18.33,0,11.81,0S0,5.29,0,11.81c0,5.9,4.32,10.78,9.97,11.67v-8.25h-3v-3.41h3v-2.6c0-2.96,1.76-4.6,4.46-4.6,1.29,0,2.64.23,2.64.23v2.91h-1.49c-1.47,0-1.92.91-1.92,1.84v2.22h3.28l-.52,3.41h-2.75v8.25c5.65-.89,9.97-5.77,9.97-11.67Z"
              stroke-width="0"></path></g
          ></svg
        ></a
      >
      <a
        href="https://www.instagram.com/southsideclimbing/"
        class="socials-insta"
      >
        <svg
          id="Icons"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 23.48 23.48"
          ><g id="b"
            ><g id="c"
              ><path
                d="M11.74,2.12c3.13,0,3.51.01,4.74.07,1.14.05,1.77.24,2.18.4.55.21.94.47,1.35.88s.67.8.88,1.35c.16.41.35,1.04.4,2.18.06,1.24.07,1.61.07,4.74s-.01,3.51-.07,4.74c-.05,1.14-.24,1.77-.4,2.18-.21.55-.47.94-.88,1.35-.41.41-.8.67-1.35.88-.41.16-1.04.35-2.18.4-1.24.06-1.61.07-4.74.07s-3.51-.01-4.74-.07c-1.14-.05-1.77-.24-2.18-.4-.55-.21-.94-.47-1.35-.88-.41-.41-.67-.8-.88-1.35-.16-.41-.35-1.04-.4-2.18-.06-1.24-.07-1.61-.07-4.74s.01-3.51.07-4.74c.05-1.14.24-1.77.4-2.18.21-.55.47-.94.88-1.35s.8-.67,1.35-.88c.41-.16,1.04-.35,2.18-.4,1.24-.06,1.61-.07,4.74-.07M11.74,0c-3.19,0-3.59.01-4.84.07-1.25.06-2.1.26-2.85.55-.77.3-1.43.7-2.08,1.35-.65.65-1.05,1.31-1.35,2.08-.29.75-.49,1.6-.55,2.85-.06,1.25-.07,1.65-.07,4.84s.01,3.59.07,4.84c.06,1.25.26,2.1.55,2.85.3.77.7,1.43,1.35,2.08.65.65,1.31,1.05,2.08,1.35.75.29,1.6.49,2.85.55,1.25.06,1.65.07,4.84.07s3.59-.01,4.84-.07c1.25-.06,2.1-.26,2.85-.55.77-.3,1.43-.7,2.08-1.35.65-.65,1.05-1.31,1.35-2.08.29-.75.49-1.6.55-2.85.06-1.25.07-1.65.07-4.84s-.01-3.59-.07-4.84c-.06-1.25-.26-2.1-.55-2.85-.3-.77-.7-1.43-1.35-2.08-.65-.65-1.31-1.05-2.08-1.35-.75-.29-1.6-.49-2.85-.55C15.33.01,14.93,0,11.74,0h0Z"
                stroke-width="0"></path><path
                d="M11.74,5.71c-3.33,0-6.03,2.7-6.03,6.03s2.7,6.03,6.03,6.03,6.03-2.7,6.03-6.03-2.7-6.03-6.03-6.03ZM11.74,15.65c-2.16,0-3.91-1.75-3.91-3.91s1.75-3.91,3.91-3.91,3.91,1.75,3.91,3.91-1.75,3.91-3.91,3.91Z"
                stroke-width="0"></path><circle
                cx="18.01"
                cy="5.47"
                r="1.41"
                stroke-width="0"></circle></g
            ></g
          ></svg
        ></a
      >
    </div>
  </ul>

  <img
    src="/media/icons/burger.svg"
    alt="menu"
    class="burger"
    onclick="openMenu()"
  />
</nav>
<div class="mob-nav-bg mob-none" onclick="closeMenu()"></div>

<script lang="js">
  const mobMenu = document.getElementById("links");
  const mobNavBG = document.querySelector(".mob-nav-bg");

  function openMenu() {
    mobNavBG.classList.remove("mob-none");

    // links.style.display = "flex";
    mobMenu.classList.remove("mob-nav-show");
  }

  function closeMenu() {
    mobMenu.classList.add("mob-nav-show");
    mobNavBG.classList.add("mob-none");

    // links.style.display = "none";
  }
</script>

<style lang="scss">
  .nav {
    background-color: rgb(0, 79, 166);
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .logo {
    display: flex;
    margin: auto 0;

    &_wave {
      width: clamp(30px, 9vw, 45px);
      aspect-ratio: 1/1;
      margin-right: clamp(5px, 2vw, 10px);
    }

    &_title {
      width: clamp(200px, 60vw, 320px);
    }
  }

  .links {
    font-family: "Noto Sans JP Variable", sans-serif;
    // font-size: 24px;
    font-weight: 500;
    min-height: 70px;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    li {
      margin-right: 15px;
      padding: 0 0 1rem;
    }

    a,
    li {
      color: #fefefe;
      text-decoration: none;
      list-style-type: none;
      transition: 0.2s;
    }

    a:hover,
    li:hover {
      color: #fbd40f;
      transition: 0.2s;
    }

    .dropdown {
      &:hover .dropdown-list {
        display: block !important;
        max-height: 500px;
        transition: max-height 0.3s ease-out;
      }

      &-list {
        max-height: 0;
        z-index: 1;
        overflow: hidden;
        position: absolute;
        margin-left: -15px;
        background-color: #003f82;
        transition: max-height 0.3s;

        li {
          margin: 0;
          padding: 0 15px 10px;
          &:hover .dropdown-list {
            display: block;
          }
        }
      }
    }
  }

  .burger,
  .close {
    display: none;
  }

  .mob-nav-bg {
    display: none;
  }

  .socials {
    display: none;
  }

  @media (max-width: 930px) {
    .nav {
      padding: 0.6rem 0.6rem 0.6rem 0.5rem;
      width: 100%;
      overflow: hidden;
    }

    .burger {
      display: block;
      align-self: center;
      width: clamp(25px, 6vw, 35px);
    }

    .close {
      display: block;
      padding: 15px 15px 10px;
      margin-left: auto;
      width: clamp(55px, 7vw, 80px);
    }

    .links {
      // display: none;
      // grid-template-columns: "1fr";
      // transform: translateX(100%);
      min-height: 100dvh;
      min-width: clamp(160px, 45dvw, 260px);
      flex-direction: column;

      align-items: flex-start;
      background-color: #003f82;
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      // right: -80dvw;
      // transform: translateX(100dvw);
      transform: none;
      transition: transform 300ms ease-in;

      li {
        margin: 0;
        padding: 0.3rem 1rem;
      }

      li a {
        padding-right: 20px;
      }

      .dropdown {
        &-title {
          display: none;
        }
        &-list {
          max-height: fit-content;
          position: relative;
          margin: 0;
          li {
            padding: 0.5rem 1rem;
          }
        }
      }
    }

    .mob-nav-show {
      // display: flex;
      // transform: none;
      transform: translateX(100dvw);

      transition: transform 350ms ease-out;
    }
    .mob-nav-bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100dvw;
      height: 100dvh;
      background-color: rgba(48, 48, 48, 0.418);
      z-index: 1;
      opacity: 1;
      transition: opacity 0.25s;
    }

    .mob-none {
      height: 0;
      opacity: 0;
      transition: opacity 0.25s;
    }

    .socials {
      display: flex;
      width: fit-content;
      margin: auto 0 10px;
      svg {
        padding: 10px;
        width: clamp(55px, 20vw, 65px);
        fill: #fefefe;
        transition: 0.2s;
        &:hover,
        &:active,
        &:focus {
          fill: #fbd40f;
          transition: 0.2s;
        }
      }
    }
  }
</style>
