---
import Arr from "../../media/icons/down-arr.svg"
const { question, ans } = Astro.props

export interface Props {
  question: string;
  ans: string;
}
---

<div class="question" id="question"><p>{question}</p><img class="question-arr" src={Arr}> </div>
<div class="answer">
  <p>{ans}</p>
</div>


<style lang="scss">
    .question {
        background-color: rgb(255, 255, 255);
        color: rgb(68, 68, 68);
        cursor: pointer;
        padding: 18px;
        // width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        align-content: center;
        display: flex;
        justify-content: space-between;

        &:hover {
            border: 4px solid #bdd6fc;

        }

        &-arr {
            width: 30px;
            float: right;
            margin: auto 0;
            rotate: 270deg;
            color: #0182b1;
            display: block;
            transition: 300ms;


        }
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .question:hover {
        // background-color: #ccc;
        background-color: #e7f1ff;
        color: #0182b1;
    }

    .active {
        .question-arr {
            // &::after {
            transform: rotate(90deg);
            transition: 300ms;
        }
    }
    .answer {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        color: #343434;

        p {
            padding: 10px 0;
        }
    }

</style>