---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';

import "../styles/index.scss";

const { title, desc } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={desc} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<!-- <CookiePopUp /> -->
	</body>
</html>