.peak {
    &-img {
        width: 80% !important;
    }
}

#kids-club {
    picture img {
        object-fit: cover;
        aspect-ratio: 1 / .9;
        object-position: 0 45%;
    }
}

@media(min-width: 768px) {
    #L2B {
        picture img {
            object-position: 30% 0;
        }
    }

    #group {
        picture img {
            object-position: 35% 0;
        }
    }
}