---
import { Picture } from "@astrojs/image/components";

import Frame from "../../layouts/frame.astro";
import Spec from "../../components/parts/Spec.astro";
import "./courses.scss";

import belay from "../../images/learn-belay.jpg";
import taster from "../../images/taster.jpg";
import group from "../../images/groups.jpg";
import kidsClub from "../../images/ryan-qe.jpg";
---

<Frame
  title={" - Courses"}
  description={"We run a variety of climbing courses for all abilites. We specialise our course in Dorset, however, "}
>
  <div class="card grid-1" id="L2B">
    <h2>Learn to Belay</h2>
    <Picture
      src={belay}
      widths={[300, 600, 1200]}
      sizes="405px"
      alt="A young woman climbing up the side of a 10m wall"
      class="img-cover"
    />
    <Spec loc="Swanage & Portland" duration="8 Hours" group="Upto 6 climbers" />
    <p>
      These courses are ideal for beginners to roped climbing. You’ll learn how
      to tie knots, belay and climb.
    </p>
    <a href="/courses/learn-to-belay/" class="btn">Book Here</a>
  </div>

  <div class="card grid-1" id="taster">
    <h2>Taster Session</h2>
    <Picture
      src={taster}
      widths={[300, 600, 1200]}
      sizes="405px"
      alt="Someone at the top of the wall communicating to his belayer"
      class="img-cover"
    />
    <Spec loc="Portland" duration="3 hours" group="Upto 6 Climbers" />
    <p>
      In this session, you get to experience climbing on Portland rock. It's
      perfect for beginners that want a small insight of climbing outdoors.
    </p>
    <a href="/courses/taster-session" class="btn">Book Here</a>
  </div>

  <div class="card grid-1" id="coaching">
    <h2>Kids Club</h2>
    <Picture
      src={kidsClub}
      widths={[300, 600, 1200]}
      sizes="405px"
      alt="Someone at the top of the wall communicating to his belayer"
      class="img-cover"
    />
    <Spec cost="£75/ 7 Weeks" loc="QE Lesuire Centre, Wimborne" />
    <p>
      We are starting our kids club this June. The club will teach kids how to
      climb on a roped wall and build up their climbing skills.
    </p>
    <a href="/courses/kids-club/" class="btn">Book Here</a>
  </div>

  <!-- <div class="card" id="peak">
    <h2>Coaching</h2>
    <picture>
      <img
        src="/media/stanage-popular.jpg"
        alt="A panoramic view of Stange Popular, a ridge made up of gritstone and fallen blocks"
        class="peak-img"
      />
    </picture>
    <Spec loc="Hathersage" duration="2 Days" group="Upto 6 Climbers" />
    <p>
      The Peak District is the home of gritstone climbing and it’s epic scenery.
      We’ll climb Stanage Edge and another local crag near Hathersage.
    </p>

    <a href="/courses/peak-district/" class="btn">Book Here</a>
  </div> -->

  <div class="card grid-1" id="group">
    <h2>Group Bookings</h2>
    <Picture
      src={group}
      widths={[300, 600, 1200]}
      sizes="405px"
      alt="2 people having a snack break after climbing, the are looking out over Portland and the south coast."
      class="img-cover"
    />
    <Spec duration="8 Hours" group="Upto 12 Climbers" />

    <p>
      Whether you’re looking for a team building day, or a memorable experience,
      we have something for you.
    </p>

    <a href="/contact/" class="btn">Contact Us</a>
  </div>
</Frame>
