---
import Frame from "../../layouts/frame.astro";
import "./courses.scss";
---

<Frame
  title={" - Courses"}
  description={"We run a variety of climbing courses for all abilites. We specialise our course in Dorset, however, "}
>
  <div class="L2B bs">
    <h2>Learn to Belay</h2>
    <div class="course-layout">
      <img
        src="/media/L2B.jpg"
        alt="Hayden sat in his harness, suspended next to the rock"
        class="L2B-img"
      />
      <div class="course-info">
        <div class="course-sub">
          <span class="course-sub-li">8 Hours ·</span><span
            class="course-sub-li"
            >2-6 Climbers ·
          </span><span class="course-sub-li">Beginners</span>
        </div>
        <p class="course-text">
          These courses are ideal for beginners to roped climbing . You’ll learn
          how to tie knots, belay and climb.
        </p>

        <a href="/courses/learn-to-belay/" class="btn">Book Here</a>
      </div>
    </div>
  </div>

  <div class="taster bs">
    <h2>Taster Session</h2>
    <div class="course-layout">
        <div class="course-info">
          <div class="course-sub">
            <span class="course-sub-li">3 Hours ·</span><span
              class="course-sub-li"
              >2-6 Climbers ·
            </span><span class="course-sub-li">Beginners ·</span><span
              class="course-sub-li"> Portland</span
            >
          </div>
          <p class="course-text ">
            In this session, you get to experience climbing on Portland rock. It's
            perfect for beginners that want a small insight of climbing outdoors.
          </p>
  
          <div class="course-buttons">
            <a
              href="/courses/taster-session"
              class="btn">Book Here</a
            >
          </div>
        </div>
      <img
        src="/media/taster-session.jpg"
        alt="Hayden sat in his harness, suspended next to the rock"
        class="taster-img"
      />
    </div>
  </div>

  <div class="coaching bs">
    <h2>London Coaching</h2>
    <div class="course-layout">
      <img
        class="coaching-img"
        src="/media/coaching.jpg"
        alt="Hayden is climbing on an overhanging bouldering wall, using just his finger tips on the small crimps."
      />
      <div class="course-info">
        <div class="course-sub">
          <span class="course-sub-li"></span><span class="course-sub-li"
            >Beginner - Intermediate ·
          </span><span class="course-sub-li">Private</span>
        </div>
        <p class="course-text ">
          Coaching is now available at Vauxwall East. Hayden has been coaching
          climbing for 5 years and is a qualified coach. If you're looking to
          learn technique or push your grade, he’d love to help.
        </p>
        <a href="/courses/coaching/" class="btn">Book Here</a>
      </div>
    </div>
  </div>

  <div class="peak bs">
    <h2>Peak District</h2>
    <img
      src="/media/stanage-popular.jpg"
      alt="Hayden sat in his harness, suspended next to the rock"
      class="peak-img"
    />
    <div class="course-layout-block">
      <div class="course-info course-info">
        <div class="course-sub">
          <span class="course-sub-li">2 Days ·</span>
          <span class="course-sub-li">2-6 Climbers ·</span>
          <span class="course-sub-li">Beginners</span>
        </div>
        <p class="course-text ">
          The Peak District is the home of gritstone climbing and it’s epic
          scenery. We’ll climb Stanage Edge and another local crag near
          Hathersage.
        </p>

        <div class="course-buttons">
          <a href="/courses/peak-district/" class="btn">Book Here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="groups bs">
    <h2>Group Bookings</h2>
    <div class="course-layout group-layout">
      <div class="course-info group-info">
        <div class="course-sub">
          <span class="course-sub-li">6+ Climbers ·</span>
          <span class="course-sub-li">Corporate Teams ·</span>
          <span class="course-sub-li">Youth Groups</span>
        </div>
        <p class="course-text ">
          Whether you’re looking for a team building day, or a memorable
          experience, we have something for you.
        </p>

        <div class="course-buttons">
          <a href="/contact/" class="btn">Contact Us</a>
        </div>
      </div>
      <img
        src="/media/groups.jpg"
        alt="Hayden sat in his harness, suspended next to the rock"
        class="group-img"
      />
    </div>
  </div>
</Frame>
