// sass --watch ./courses/learn-belay.scss ./asset/css/learn-belay.css

.private {

    &-info {
        // flex: 3;
        display: block;
    }

    &-img {
        // flex: 3;
        width: 400px;
        height: max-content;
        margin: 20px;
    }
}

.seshpage {

    &-img {
        margin-top: 5px;
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }

    &-sub {
        font-weight: 500;
        font-size: 2em;
        color: rgb(50, 50, 50);
    }

    &-desc {
        display: inline-block;
        font-weight: 600;
        font-size: 1.4em;
        color: rgb(60, 60, 60);
    }

    strong {
        margin-bottom: 5px;
    }

    &-info {
        padding: 0 20px;
        max-width: 100%;
    }

    &-buttons {
        display: block;
        margin-bottom: 8px;
    }

    // just for coaching

    .square-img {
        width: 350px;
        @media(max-width: 800px) {
            margin: 0 auto;
        }
    }

    .img-li {
        display: flex;
        ul {
            margin: auto 0;
        }
        li {
            font-size: 1.3em;
            font-weight: 500;
            margin: 10px 0;
        }

        @media(max-width: 800px) {
            display: block;
            margin-bottom: 10px;
            ul {
                display: none;
            }
        }
    }



}

.included {
    display: flex;
    justify-content: space-evenly;
    height: max-content;

    .gear {
        display: block;
        padding: 20px;
        width: 40%;

        &-img {
            display: block;
            width: 50%;
            margin: 0 auto;
        }

        &-text {
            display: block;
            width: fit-content;
            font-size: 1.4em;
            margin: 10px auto;
            text-align: center;
        }
    }

    .bring {
        width: 48%;
        padding: 20px;

        &-title {
            font-size: 1.5em;
        }

        li {
            font-size: 1.2em;
            margin-bottom: 5px;
        }

    }
    .divide {
        // border-color: #bdbdbd;
        background-color: #bdbdbd;
        border-radius: 5px;
        width: 2px;
        // height: 100%;
        display: block;
        margin: 10px 5px;

    }
}

@media (max-width: 730px) {
    .included {
        display: block;
        .gear {
            width: 95%;
            display: flex;
            margin: 0 auto;
            &-img {
                width: 80px;
                margin: auto 20px auto 0px;
            }
            &-text {
                // width: ;
                font-size: 1.8em;
                text-align: start;
                margin: auto 0;
            }
        }

        .bring {
            width: max-content;
            margin: 0 auto;
            padding: 0 20px;

            ul {
                margin: 0;
                padding-left: 20px;
            }
        }
        .divide {
            height: 2px;
            width: 90%;
        }
    }
}

@media (max-width: 480px) {

    .seshpage {
        &-info {
            padding: 0 05px;
        }
    }
}