---
import { Picture } from "@astrojs/image/components";
import belaySeb from "../../images/belaying-seb.jpg";
import privateGuide from "../../images/private-guiding.jpg";
import block1 from "../../images/block-1.jpg";

import "./learn-belay.scss";
import Frame from "../../layouts/frame.astro";
import Accordian from "../../components/Accordian.astro";
import Qa from "../../components/parts/Qa.astro";
import Spec from "../../components/Spec.astro";
---

<Frame
    title={" - Learn to Belay"}
    description={"Are you looking to kickoff your climbing? This course will teach you all there is to climbing and belaying."}
>
    <div class="session card" id="main">
        <h1>Learn to Belay</h1>
        <Picture
            src={belaySeb}
            widths={[324, 500, 1200]}
            sizes="(max-width: 768px) 410px, 480px"
            alt="A man belaying next to a block towards its' side"
        />
        <Spec class="specs" duration="8 Hours" group="Up To 6 Climbers" />
        <p class="bs-text">
            In this course, you’ll learn how to climb and belay each other on a
            rope. With these skills, you’ll be able to climb at your local roped
            wall on bottom ropes and progress on to sport climbing. Here in
            Dorset, our coast is full of stunning places to climb. We provide
            all the necessary safety equipment and our expertise of rock
            climbing.
        </p>
    </div>

    <div class="gallery">
        <Picture
            src={privateGuide}
            widths={[324, 500, 1200]}
            sizes="(max-width: 768px) 90vw, 53vw"
            alt="hayden is showing a participant how to belay"
            class="gallery-private"
        />
        <Picture
            src={block1}
            widths={[324, 500, 1200]}
            sizes="(max-width: 768px) 90vw, 53vw"
            alt="Harry is using his climbing shoes to step on to small edges on the wall."
            class="gallery-block1"
        />
    </div>

    <div class="card" id="private">
        <h2>Private Guiding</h2>
        <Spec loc="Swanage Or Portland" age="Ages 7 & Up" cost="From £165" />
        <p class="private-text bs-text">
            On booking, you will have the choice of either climbing at Portland
            or Swanage. Each of these locations have multiple crags, we like to
            choose where the best conditions are to climb, but if you have a
            preference of crag, just let us know.
        </p>
        <script
            is:inline
            src="https://assets.ticketinghub.com/checkout.js"
            data-widget="38de41bd-8ac6-4d43-b14a-1bbc49333c8f"
            data-ga-track-pageviews="false"></script>
    </div>
    <div class="seshpage-info open-info card">
        <h2>Open Session</h2>
        <Spec loc="Portland" age="Ages 7 & Up" cost="£55/Per Climber" />
        <p class="private-text bs-text">
            These courses are great for meeting new people who also want to
            start climbing. We run our open courses every Sunday at Portland. We
            take upto 6 people climbing at a time, so you'll have plenty of
            opportunity to climb.
        </p>
        <script
            is:inline
            src="https://assets.ticketinghub.com/checkout.js"
            data-widget="05471900-18fd-410c-895f-6e97b0f196c7"
            data-ga-track-pageviews="false"></script>
    </div>

    <div class="included card">
        <div class="gear">
            <img
                class="gear-img"
                src="/media/icons/helmet.svg"
                alt="helmet icon"
            />
            <div class="gear-text">All Equipment Included</div>
        </div>
        <div class="divide"></div>
        <div class="bring">
            <h4 class="bring-title">You'll Need:</h4>
            <ul>
                <li>Walking Shoes</li>
                <li>Lunch, snacks & water</li>
                <li>A jumper and waterproof</li>
            </ul>
        </div>
    </div>

    <Accordian>
        <Qa question="Who can climb?">
            With roped climbing, climbers need to be aged 9+ and can fit a
            helmet and harness. Equipment sizes can be found on the <a
                href="/resources/policies/booking-terms.pdf">booking terms</a
            >. Please <a href="/contact/">send us a message</a> if you're unsure
            you can climb.
        </Qa>
        <Qa question="Where will I meet my Instructor?">
            We will send you an exact location once we receive a good forecast.
            We’ll get in touch a couple of days before your course.
        </Qa>
        <Qa question="Can I bring my dog?">
            Your welcome to bring your dog on our private course as long as you
            will have enough people in your group to supervise your dog whilst
            you climb. Please let us know beforehand, as this affects where we
            will climb.
        </Qa>
        <Qa question="May I bring spectators?">
            On our private courses spectators are welcome to join. Please let us
            know if your planning on bringing a spectator.
        </Qa>
        <Qa question="Do parents or guardians need to supervise?">
            Yes, all legal parents and guardians of under-18's need to be
            present during the session. If you are booking for other children to
            join, their parent or guardian must be present throughout the
            course.
        </Qa>
        <Qa question="What if it rains?">
            We won't run sessions if the weather is too poor to climb. The
            Refund Policy is on our <a
                href="/resources/policies/booking-terms.pdf">Booking Terms</a
            >.
        </Qa>
    </Accordian>
</Frame>
