---
import './learn-belay.scss'
import Frame from '../../layouts/frame.astro'
import Accordian from '../../components/Accordian.astro'
import Qa from '../../components/parts/Qa.astro'
import Spec from '../../components/parts/Spec.astro';
---

<Frame title={' - Peak District'} description={'We are running limited courses in the Peak District this year, the perfect opportunity for you to climb gritstone.'}>
  
    
        <div class="seshpage card">
            <h1>Peak District</h1>
            <div class="seshpage-options">
                <img class="seshpage-img" data-src="/media/stanage-popular.jpg"
                    alt="A middle-aged woman smiling whilst suspended off a rope with the sea behind her">
                <div class="seshpage-info">
                    <div class="seshpage-info">
                        <Spec loc="Hathersage" duration="2 Days" age="Ages 7+" group="Up To 6 Climbers"/>
                    <p class="private-text">The Peak District is our favourite place to climb in the UK. The rock is made of gritstone which feels rough and grippy to climb. We're running limited 2-day courses to give you an opportunity to experience the peaks. You be climbing cracks not far from Hathersage including Stanage edge Froggatt or Bamford.</p>
                </div>
                        <div class="seshpage-buttons">
                            <script is:inline src="https://assets.ticketinghub.com/checkout.js"
                                data-widget="c3a9cc0d-1372-40bf-a960-8318846ee538"></script>
                        </div>
                </div>
            </div>
        </div>
    
        <div class="included card">
            <div class="gear">
                <img class="gear-img" src="/media/icons/helmet.svg" alt="helmet icon">
                <div class="gear-text">All Equipment Included</div>
            </div>
            <div class="divide"></div>
            <div class="bring">
                <h4 class="bring-title">You'll Need:</h4>
                <ul>
                    <li>A sturdy pair of shoes</li>
                    <li>Lunch, snacks & water</li>
                    <li>A jumper and waterproof</li>
                </ul>
            </div>
        </div>
        
        <Accordian>

            <Qa question="Where will I meet my Instructor?">We'll get in contact with you and find where the best location for you to climb at. All the locations will be no more than a 10 minute drive from hathersage.</Qa>
            <Qa question="Can I bring my dog?">It's not advised as the Peak District can be prone to midges.</Qa>
            <Qa question="May I bring spectators?">Yes, a maximum of 2 spectators are welcome.</Qa>
            <Qa question="What if it rains?">We won't run sessions if the weather is too poor to climb. The Refund Policy is on our <a href="/resources/policies/booking-terms.pdf">Booking Terms</a>.</Qa>
        </Accordian>

</Frame>