---
import './learn-belay.scss'
import Frame from '../../layouts/frame.astro'
import Accordian from '../../components/Accordian.astro'
import Qa from '../../components/parts/Qa.astro'
import Spec from '../../components/parts/Spec.astro';

---

<Frame title={' - Taster Session'} description={"This family session is great for to see whether you'd enjoy climbing. You'll get a chance to climb on Portland rock and learn a bit about the sport."}>

    <div class="seshpage card">
        <h1>Taster Session</h1>
        <div class="seshpage-options">
            <img class="seshpage-img" src="/media/taster.jpg" alt="A middle-aged woman smiling whilst suspended off a rope with the sea behind her">
            <div class="seshpage-info">
                <Spec loc="Portland" duration="3 Hours" group="Up To 6 Climbers"/>
                <p class="private-text card-text">Our taster session will give you an introduction to the sport. We run these sessions in small groups, so you'll have plenty of time to climb. Unlike our courses, we don't teach belaying or knot tying in this session.</p>
            </div>
            <div class="seshpage-buttons">
            </div>
        </div>
    </div>

    <div class="seshpage-info open-info card">
        <h2>Private Session</h2>
        <div class="seshpage-info">
            <Spec age="Ages 7 & Up" cost="From £80"/>
            <p class="private-text bs-text">These sessions are great for get-togethers in the sun, as Portland offers lots of exciting climbing locations with beautiful views of Dorset.</p>
            
            <div class="seshpage-buttons">
                <script is:inline src="https://assets.ticketinghub.com/checkout.js" data-widget="1ca6347b-75d8-4064-8250-83a51772efd2"></script>
            </div>
        </div>
    </div>

    <div class="seshpage-info card">
        <h2>Open Session</h2>
        <div class="seshpage-info">
            <Spec age="Ages 12 & Up" cost="£25/pp"/>
            <p class="private-text bs-text">In this family friendly session, you’ll experience the adventure of rock climbing. This activity is suited to people who have never climbed before, and is fine if you're afraid of heights.</p>

            <div class="seshpage-buttons">
                <script is:inline src="https://assets.ticketinghub.com/checkout.js" data-widget="b4e7473f-c3d3-4548-9477-690986624f62"></script>
            </div>
        </div>
    </div>

            <div class="included card">
                <div class="gear">
                    <img class="gear-img" src="/media/icons/helmet.svg" alt="helmet icon">
                    <div class="gear-text">All Equipment Included</div>
                </div>
                <div class="divide"></div>
                <div class="bring">
                    <h4 class="bring-title">You'll Need:</h4>
                    <ul>
                        <li>A sturdy pair of shoes</li>
                        <li>Food & Drink</li>
                        <li>A jumper and waterproof</li>
                    </ul>
                </div>
            </div>

        <Accordian>
            <Qa question="Who can climb?">With roped climbing, climbers need to be aged 9+ and can fit a helmet and harness. Equipment sizes can be found on the <a href="/resources/policies/booking-terms.pdf">booking terms</a>. Please <a href="/contact/">send us a message</a> if you're unsure you can climb.</Qa>
            <Qa question="Where will I meet my Instructor?">We will send you an exact location once we receive a good forecast. We’ll get in touch a couple of days before your course.</Qa>
            <Qa question="May I bring spectators?">On our private courses spectators are welcome to join. Please let us know if your planning on brining a spectator.</Qa>
            <Qa question="Can I bring my child's friends?">Yes, however, all legal parents and guardians of under-18's need to be present during the session.</Qa>
            <Qa question="What if it rains?">We won't run sessions if the weather is too poor to climb. The Refund Policy is on our <a href="/resources/policies/booking-terms.pdf">Booking Terms</a>.</Qa>
        </Accordian>
        


</Frame>